.topwrap {
  width: 100%;
  background: #222222;
  height: 46px;
}

.topwrap > .top {
  width: 1008px;
  height: 46px;
  margin: 0 auto;
}

.topwrap > .top > div {
  /* float: left;
            width:182px;
            height: 68px; */
}

.topwrap > .top > div > .topImg {
  width: 182px;
  height: 68px;
  float: left;
}

.topwrap > .top > div > ul {
  float: right;
  width: 820px;
  height: 46px;
}

.topwrap > .top > div > ul > li > a {
  display: block;
  float: left;
  line-height: 46px;
  padding: 0 14px;
  font-size: 14px;
  color: #fff;
}

.topwrap > .top > div > ul > li:hover a {
  background: #000;
}
